extends ../layout

block content
  .members-container
    .members
      - var parsedMembers = JSON.parse(members);
      each member in parsedMembers
        .col-sm-4
          .member
            a(href='/explore/members/' + member.memberID)

            .row
              p.member-name #{member.name}
              img(src="#{member.propic}", class='profile', width='120', height='120')
              p.member-tagline #{member.tagline}