extends ../layout

block content
  .members
    - var parsedMembers = JSON.parse(members);
    each member in parsedMembers
      .col-sm-4
        .member
          a(href='/explore/members/' + member.memberID)

          .row
            p.member-name #{member.name}
            img(src="#{member.propic}", class='profile', width='100', height='100')
            p.member-tagline #{member.tagline}