extends layout

block content
  .row
    .homepage-logo
      p
        | &lt/
        span.colored AppDeveloperClub
        | &gt

  .row
    .col-sm-4
      img.home-icon(src='img/projects_icon.png')
      h2 Projects
      p.desc Work on your projects, view other member’s projects, and maybe even join them! Perhaps you can contribute something special.
      a.btn.btn-default(href='/explore/projects', role='button') Explore Projects »
    .col-sm-4
      img.home-icon(src='img/ideas_icon.png')
      h2 Members
      p.desc As a part of the ADC community, you have easy access to all other members. Want some help on your project? Search here!
      a.btn.btn-default(href='/explore/members', role='button') View Members »
    .col-sm-4
      img.home-icon(src='img/atom_icon.png')
      h2 Tutorials
      p.desc We're a community that is constantly learning! Looking for help with a framework or app? Check out our guides and tutorials.
      a.btn.btn-default(href='http://learn.appdeveloperclub.com', target='_blank', role='button') Start Learning »