extends layout

block content
  body.homepage-background

    include partials/header

    .container
      include partials/flash

      .row
        .homepage-logo
          p
            | &lt/
            span.colored AppDeveloperClub
            | &gt

      .row
        .col-sm-4
          img.home-icon(src='img/projects_icon.png')
          h2 Projects
          p.desc Work on your projects, and view other member’s projects too! Maybe you can contribute something special.
          a.btn.btn-default(href='/explore/projects', role='button') Explore Projects »
        .col-sm-4
          img.home-icon(src='img/ideas_icon.png')
          h2 Members
          p.desc As a part of the ADC community, you have easy access to all other members. Want some help on your project? Search here!
          a.btn.btn-default(href='/explore/members', role='button') View Members »
        .col-sm-4
          img.home-icon(src='img/atom_icon.png')
          h2 Register
          p.desc Join this fantastic community of creative students just like you! What are you waiting for?
          a.btn.btn-default(href='/', role='button') Register now »