doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - App Developer Club
    != css('index')
  body
    include partials/flash

    #preloader
      #status
        .status-mes

    header.index
      .container-fluid.index-container
        p.index-title
          | AppDeveloperClub
        p.index-subtitle
          | Dream. Create. Repeat.
        a.btn.btn-primary.btn-lg.page-scroll.index-learn-more
          | Learn More

    #carousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carousel', data-slide-to='0')
        li(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
        li(data-target='#carousel', data-slide-to='3')
      .carousel-inner
        .item.active
          .index-carousel-item
            p.index-carousel-title
              | About Us
            p.index-carousel-text
              | We're inventors. That's the TL;DR. The App Developer Club is an organization created as an outlet for hackers, makers, and entrepreneurs to come together and collaborate in order to produce apps you never knew you needed. But these are the apps that you deserve.
        .item
          .index-carousel-item
            p.index-carousel-title
              | Projects
            p.index-carousel-text
              | Check out some of our most successful projects. As a collective, the App Developer Club has developed and released apps for iOS, Android, and the Web. Click the button below to browse our collection of apps.
            a.btn.btn-primary.btn-lg.page-scroll.index-carousel-btn(href='/explore/projects')
              | Check it Out
        .item
          .index-carousel-item
            p.index-carousel-title
              | Connections
            p.index-carousel-text
              | With mentors and connections in the tech industry, the App Developer Club is prepared to take on projects from the simple and minimal to the behemoths.
            img(src='img/new_connections.png')
        .item
          .index-carousel-item
            p.index-carousel-title
              | Get Involved
            p.index-carousel-text
              | Are you interested in knowing how you can join the App Developer Club? It's as simple as entering your Stanford email to verify your identity.
            input.index-field(type='text', name='stanford_email' placeholder="Stanford Email")
            a.btn.btn-primary.btn-lg.page-scroll.index-carousel-btn.index-regis-btn
              | Submit
            .index-carousel-alert.alert-hidden.index-alert-success
              i.fa.fa-2x.fa-check.alert-icon
              p.index-carousel-text.index-carousel-alert-text
                | Success message!
              a.btn.btn-primary.btn-lg.page-scroll.index-carousel-btn.index-regis-btn.github-button(href='/auth/github')
                i.fa.fa-github
                | Sign-in with Github
            .index-carousel-alert.alert-hidden.index-alert-failure
              i.fa.fa-2x.fa-close.alert-icon
              p.index-carousel-text.index-carousel-alert-text
                | We could not find a Stanford student with that email

      a.carousel-control.left(href='#carousel', data-slide='prev')
        i.fa.fa-arrow-left.index-carousel-control
      a.carousel-control.right(href='#carousel', data-slide='next')
        i.fa.fa-arrow-right.index-carousel-control

    footer.index
      .index-subimage-container
        .index-subimage

    != js('application')