doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - App Developer Club
    != css('index')
  body
    include partials/flash

    #preloader
      #status
        .status-mes

    header.index
      .container-fluid.index-container
        .index-title
          p
            | &lt/
            span.colored AppDeveloperClub
            | &gt
        p.index-subtitle
          | Dream. Create. Repeat.
        a.btn.btn-primary.btn-lg.page-scroll.index-learn-more
          | Learn More

    #carousel.carousel.slide(data-ride='carousel' data-wrap="false")
      ol.carousel-indicators
        li.active(data-target='#carousel', data-slide-to='0')
        li(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
        li(data-target='#carousel', data-slide-to='3')
      .carousel-inner
        .item.active
          .index-carousel-item
            p.index-carousel-title
              | About Us
            p.index-carousel-text
              | We're inventors. The App Developer Club is an organization at Stanford University created for hackers, designers, and entrepreneurs to come together and collaborate in order to produce apps you never knew you needed. But these are the apps that you deserve.
        .item
          .index-carousel-item
            p.index-carousel-title
              | Connections
            p.index-carousel-text
              | With mentors and connections in the tech industry, the App Developer Club is prepared to help you take on projects from the simple and minimal to the behemoths.
            img(src='img/new_connections.png')
        .item
          .index-carousel-item
            p.index-carousel-title
              | Education
            p.index-carousel-text
              | Want to develop apps but don't know where to start? Head over to our 
              a(href='https://learn.appdeveloperclub.org') tutorials and guides
              |  center to get started. Feel free to shoot us an email if you'd like to contribute to our trove of educational resources, and we'll get you added as an ADC Tech Mentor.
        .item
          .index-carousel-item
            p.index-carousel-title
              | Get Involved
            p.index-carousel-text
              | Want to know how you can join the App Developer Club? Keep an eye and ear out for our events by subscribing to our 
              a(href='https://mailman.stanford.edu/mailman/listinfo/app-developer-club') mailing list
              |  today.

      a.carousel-control.left(href='#carousel', data-slide='prev')
        i.fa.fa-arrow-left.index-carousel-control
      a.carousel-control.right(href='#carousel', data-slide='next')
        i.fa.fa-arrow-right.index-carousel-control

    footer.index
      .index-subimage-container
        .index-subimage

    != js('application')