/************************/
/* CSS and LESS Imports */
/************************/

@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/modern";

/****************/
/* Font Imports */
/****************/

@font-face {
  font-family: Avenir;
  src: url(../fonts/avenir-ultralight.otf) format(opentype);
}

@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

/***************/
/* Scaffolding */
/***************/

html {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/*********************/
/* Pre-Loader Styles */
/*********************/

#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status, .status-mes {
  background-image: url(../img/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}

/*********************/
/* Index Page Styles */
/*********************/

header.index {
  font-family: "Avenir", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .index-title {
    position: relative;
    padding-top: 20px;
    font-family: "Avenir", sans-serif;
    color: #777777;
  }

  .index-subtitle {
    font-family: "Avenir", sans-serif;
    color: #bb335b;
  }

  .index-learn-more {
    margin-top: 20px;
    background-color: #bb335b;
    color: #fff;

    &:hover {
      background-color: #842540;
    }
  }
}

.index-subimage-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .index-subimage {
    position: absolute:
    bottom: 0;
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

#carousel {
  position: absolute;
  top: 100px;
  left: 0;
  height: 320px;
  width: 100%;
}

.carousel {
  background: #fff;
  margin-top: 20px;
  text-align: center;

  .carousel-indicators li {
    background-color: #444;
  }

  .carousel-indicators .active {
    background-color: #bb335b;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none
  }

  .index-carousel-control {
    margin-top: 125px;
    color: #bb335b;
  }

  .index-carousel-item {
    position: relative;
    margin: 0 auto;

    .index-carousel-title {
      font-family: "Avenir", sans-serif;
      color: #bb335b;
    }

    .index-carousel-text {
      font-family: "Avenir", sans-serif;
      color: #777777;
    }

    .index-carousel-btn {
      font-family: "Avenir", sans-serif;
      display: block;
      margin: 0 auto;
      background-color: #bb335b;
      color: #fff;
      width: 150px;

      &:hover {
        background-color: #842540;
      }
    }

    .index-regis-btn {
      display: inline-block;
      float: right;
      width: 38%;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    .alert-icon {
      display: inline-block;
      height: 30px;
      width: auto;
    }

    .index-carousel-alert {
      position: relative;
      float: left;
      margin-top: 15px;

      .index-carousel-alert-text {
        display: inline-block;
      }

      i {
        margin-right: 5px;
      }
    }

    .alert-hidden {
      display: none;
    }

    img {
      max-width: 100%;
    }

    input.index-field {
      font-family: "Avenir", sans-serif;
      font-size: 20px;
      display: inline-block;
      width: 60%;
      float: left;
      outline: none;
    }
  }
}

/***********************/
/* Mobile Responsivity */
/***********************/
@media (min-width: 767px) {
  .index-title {
    margin-top: 40px;
    font-size: 70px;
  }

  .index-subtitle {
    margin-top: -22px;
    font-size: 50px;
  }

  .index-subimage {
    background-image: url(../img/Phones.png);
    max-width: 706px;
    min-height: 363px;
    width: auto;
  }

  .index-carousel-item {
    width: 500px;
  }

  .index-carousel-title {
    font-size: 50px;
  }

  .index-carousel-text {
    font-size: 20px;
  }

  .index-carousel-item img {
    margin-top: -40px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .index-title {
    margin-top: 30px;
    font-size: 50px;
  }

  .index-subtitle {
    margin-top: -15px;
    font-size: 40px;
  }

  .index-subimage {
    background-image: url(../img/phoneresp2.png);
    max-width: 605px;
    min-height: 440px;
    width: auto;
  }

  .index-carousel-item {
    width: 400px;
  }

  .index-carousel-title {
    font-size: 40px;
  }

  .index-carousel-text {
    font-size: 18px;
  }

  .index-carousel-item img {
    margin-top: -40px;
  }
}

@media (max-width: 640px) {
  .index-title {
    margin-top: 40px;
    font-size: 40px;
  }

  .index-subtitle {
    margin-top: -10px;
    font-size: 30px;
  }

  .index-subimage {
    background-image: url(../img/respscreen.png);
    max-width: 624px;
    height: 300px;
    width: auto;
  }

  .index-carousel-item {
    width: 60%;
  }

  .index-carousel-title {
    font-size: 30px;
  }

  .index-carousel-text {
    font-size: 16px;
  }

  .index-carousel-item img {
    margin-top: 20px;
  }
}