/************************/
/* CSS and LESS Imports */
/************************/

@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/modern";

/****************/
/* Font Imports */
/****************/

@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

/***************/
/* Scaffolding */
/***************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p,
  ul {
    margin-bottom: 0;
  }
}

/*****************/
/* Navbar Styles */
/*****************/

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-nav ul.dropdown-menu {
  text-align: center;
}

.profile_pic {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

body > .container {
  text-align: center;
}

/*****************/
/* Alert Styles */
/*****************/

.alert {
  margin-top: 20px;
}

/*******************/
/* Thumnail Styles */
/*******************/

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

/*********************/
/* Font Icons Styles */
/*********************/

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

/*******************/
/* HomePage Styles */
/*******************/

.homepage-logo {
  background-image: url(../img/homepagelogo.jpg);
  position: relative;
  margin: 0 auto;
  height: 300px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;
}

/***********************/
/* Members Page Styles */
/***********************/

.members {
  margin-top: 20px;
}

.member {
  background-color: #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  margin: 0 auto;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  border: 1px solid #eee;

  img {
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  }

  .member-tagline {
    margin-top: 12px;
  }
}

.solo-member {
  font-size: 16px;
}

.solo-member-fields-labels {
  text-align: right;
}

.solo-member-fields-filled {
  text-align: left;
}

/***************************/
/* Account Projects Styles */
/***************************/

.account-projects.header {
  margin-bottom: 12px;
}