/************************/
/* CSS and LESS Imports */
/************************/

@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/modern";


/*************/
/* Animation */
/*************/

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:100% }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:100% }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}


/***************/
/* Scaffolding */
/***************/

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 10px;
}

body > .container {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p,
  ul {
    margin-bottom: 0;
  }
}


/*****************/
/* Navbar Styles */
/*****************/

.navbar-nav {
  img {
    width: 30px;
    height: 30px;
    margin: -15px 15px -15px;
  }

  ul.dropdown-menu {
    background: transparent;
  }
}


.navbar-default {
  background: transparent;
  padding-top: 10px;
  border-bottom: 0px solid;
  margin: auto;
  width: 60%;

  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 0px rgba(0, 0, 0, .1);
}

.navbar-inner {
  background: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #bb335b;
}

.navbar-default .navbar-brand:hover {
  color: #bb335b;
}

.navbar-nav ul.dropdown-menu {
  text-align: center;
}

.profile_pic {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


/*****************/
/* Alert Styles */
/*****************/

.alert {
  margin-top: 20px;
}


/*******************/
/* Thumnail Styles */
/*******************/

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}


/*********************/
/* Font Icons Styles */
/*********************/

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


/***********************/
/* General Page Styles */
/***********************/

.general-background {
  height: 100%;
  width: 100%;
  background: #FFF url(../img/general_background.png)  no-repeat center -150px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


/*******************/
/* HomePage Styles */
/*******************/

.homepage-background {
  height: 100%;
  width: 100%;
  background: #FFF url(../img/home_background.png)  no-repeat center -150px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.homepage-logo {
  position: relative;
  margin: 0 auto;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 100px;
  margin-top: 130px;

  p {
    font-size: 70px;
    color: #777777;
    margin: auto;

    .colored {
      color: #bb335b; /* The red part of the logo */
    }
  }

  white-space:nowrap;
  overflow:hidden;
  border-right: .1em solid #777777;
  -webkit-animation: typing 2s steps(26, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite;
  -moz-animation: typing 2s steps(26, end), /* # of steps = # of characters */
  blink-caret 1s step-end infinite;
}

.home-icon {
  height: 40px;
}

.desc {
  height: 90px;
}

.btn-default {
  color: #bb335b;
  border: #bb335b 1px solid;
  border-radius: 20px;
  height: 28px;
  width: 150px;
  padding-top: 5px;
  background-color: transparent;
}

.btn-default:hover {
  background-color: #bb335b;
}

/***********************/
/* Members Page Styles */
/***********************/

.members-background {
  height: 100%;
  width: 100%;
  background: #FFF url(../img/members_background.png)  no-repeat center -150px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.members {
  margin: 0 auto;
  margin-top: 20px;
}

.member {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  margin: 20px 20px;
  border: 0px solid #bb335b;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .2);

  .member-name {
    font-size: 28px;
    color: #777;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
  }

  img {
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .member-tagline {
    margin-top: 12px;
  }
}

.solo-member {
  font-size: 16px;
}

.solo-member-fields-labels {
  text-align: right;
}

.solo-member-fields-filled {
  text-align: left;
}


/************************/
/* Projects Page Styles */
/************************/

.projects-background {
  height: 100%;
  width: 100%;
  background: #FFF url(../img/projects_background.png)  no-repeat center -150px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.projects {
  margin-top: 20px;
}

.project {
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
  padding: 15px 25px;
  width: 200px;
  height: 240px;
  margin: 20px 20px;
  border: 1px solid #bb335b;

  .project-name {
    font-size: 35px;
    padding: 30px 0;
    border-bottom: 1px solid #bbb;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=1);
  }



  .project-tagline {
    margin-top: 12px;
  }
}


/***************************/
/* Account Projects Styles */
/***************************/

.gravatar {
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 1px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.account-projects.header {
  margin-bottom: 12px;
}

/***********************/
/* Mobile Responsivity */
/***********************/
