extends ../layout

block content
  .page-header
    h3.advisors-title ADC's Board of Advisors
    p.advisors-subtitle The App Developer Club can prepare you for the industry by connecting you with professionals who can help guide you in your projects.

  .advisors-container
    .advisors
      .col-sm-3
        .advisor
          .row
            p.advisor-name Joe Albanese
            img(src='/img/advisors/joe.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

            .advisor-contact-info
              a.advisor-contact-item.facebook(href="https://www.facebook.com/PerriJoey", target="_blank")
                i.fa.fa-facebook
              a.advisor-contact-item.twitter(href="https://twitter.com/josephpalbanese", target="_blank")
                i.fa.fa-twitter
              a.advisor-contact-item.linkedin(href="https://www.linkedin.com/pub/joseph-p-albanese/28/208/aa5", target="_blank")
                i.fa.fa-linkedin
      .col-sm-3
        .advisor
          .row
            p.advisor-name Niko Bonatsos
            img(src='/img/advisors/niko.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Niko is a Venture Partner @ General Catalyst and loves products and services that some may consider crazy.

            .advisor-contact-info
              a.advisor-contact-item.facebook(href="#" target="_blank")
                i.fa.fa-facebook
              a.advisor-contact-item.twitter(href="https://twitter.com/bonatsos", target="_blank")
                i.fa.fa-twitter
              a.advisor-contact-item.linkedin(href="https://www.linkedin.com/in/bonatsos", target="_blank")
                i.fa.fa-linkedin
      .col-sm-3
        .advisor
          .row
            p.advisor-name Eric Bahn
            img(src='/img/advisors/eric.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Eric has extensive experience in angel investing and is currently works as a Product Manager @ Facebook

            .advisor-contact-info
              a.advisor-contact-item.facebook(href="https://www.facebook.com/ericbahn", target="_blank")
                i.fa.fa-facebook
              a.advisor-contact-item.twitter(href="https://twitter.com/ericbahn", target="_blank")
                i.fa.fa-twitter
              a.advisor-contact-item.linkedin(href="https://www.linkedin.com/in/ericbahn", target="_blank")
                i.fa.fa-linkedin
      .col-sm-3
        .advisor
          .row
            p.advisor-name Allison Hall
            img(src='/img/advisors/allison.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Passionate about tech outreach and education, Allison now works as a UI Engineer @ LinkedIn

            .advisor-contact-info
              a.advisor-contact-item.facebook(href="#", target="_blank")
                i.fa.fa-facebook
              a.advisor-contact-item.twitter(href="https://twitter.com/allydhall", target="_blank")
                i.fa.fa-twitter
              a.advisor-contact-item.linkedin(href="https://www.linkedin.com/pub/allison-hall/2a/5b4/733", target="_blank")
                i.fa.fa-linkedin