extends ../layout

block content
  .page-header
    h3.advisors-title ADC's Board of Advisors
    p.advisors-subtitle The App Developer Club can prepare you for the industry by connecting you with professionals who can help guide you in your projects.

  .advisors-container
    .advisors
      .col-sm-3
        .advisor
          .row
            p.advisor-name Joe Albanese
            img(src='/img/advisors/joe.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
      .col-sm-3
        .advisor
          .row
            p.advisor-name Niko Bonatsos
            img(src='/img/advisors/niko.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Partner @ General Catalyst
      .col-sm-3
        .advisor
          .row
            p.advisor-name Eric Bahn
            img(src='/img/advisors/eric.jpg', class='profile', width='120', height='120')
            p.advisor-tagline Product Manager @ Facebook
      .col-sm-3
        .advisor
          .row
            p.advisor-name Allison
            img(src='/', class='profile', width='120', height='120')
            p.advisor-tagline Web Developer @ LinkedIn