extends ../layout

block content

  .core-members-container
    .core-members

      .page-header
        h3.core-title Internal Communications Management Team
        p.core-subtitle This amazing group of people will make sure that ADC feels like a family. They will organize social events from mixers to get to know one another and talk about each other's projects, to casual dinner outings.
      .row
        .col-sm-3
          .core-member.core-point
            .row
              p.core-member-name Geoffrey Angus
              img(src='/img/core/geoffrey.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="https://www.facebook.com/geoffrey.angus", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="https://twitter.com/angusbeef29", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="https://www.linkedin.com/pub/geoffrey-angus/b3/723/192", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Erica Fearon
              img(src='/img/core/erica.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="https://www.facebook.com/erica.fearon", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Derin Dutz
              img(src='/img/core/derin.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="https://www.facebook.com/dddutz", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="https://twitter.com/dippindutz", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="https://www.linkedin.com/in/dddutz", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Rachel Ahn
              img(src='/img/core/rachel.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="https://www.facebook.com/rachelahn", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin

      .page-header
        h3.core-title External Communications Management Team
        p.core-subtitle This team is repsonsible for growing our board of advisors and expanding ADC's connections to the industry. They will constantly be reaching out to industry professionals to see if they're interested in ADC's mission.
      .row
        .col-sm-3
          .core-member.core-point
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name David Chao
              img(src='/img/core/david.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Stephanie Niu
              img(src='/img/core/stephanie.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Pat Boonyarittipong
              img(src='/img/core/pat.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin

      .page-header
        h3.core-title Workshop Organizers and Teaching Staff
        p.core-subtitle Keep an eye out for workshops on the facebook group! This team is responsible for putting on workshops from building your own personal webpage to rapid development with the MEAN stack and iOS/Android.
      .row
        .col-sm-4
          .core-member
            .row
              p.core-member-name Cindy Yu
              img(src='/img/core/cindy.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-4
          .core-member.core-point
            .row
              p.core-member-name Dan Yu
              img(src='/img/core/dan.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="https://www.facebook.com/danyudelion", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="https://twitter.com/yudan96", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="https://www.linkedin.com/in/dxy96", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-4
          .core-member
            .row
              p.core-member-name Mauricio Narvaez
              img(src='/img/core/maur.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin

      .page-header
        h3.core-title Project Managers
        p.core-subtitle Project Managers are responsible for overseeing teams. They will make sure that teams are on track in the design and development process, and ensure that team members are working well with one another.
      .row
        .col-sm-3
          .core-member.core-point
            .row
              p.core-member-name Bryan McLellan
              img(src='/img/core/bryan.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Rachel Ahn
              img(src='/img/core/rachel.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Erica Fearon
              img(src='/img/core/erica.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Geoffrey Angus
              img(src='/img/core/geoffrey.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Derin Dutz
              img(src='/img/core/derin.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Cristian Lara
              img(src='/img/core/cristian.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-3
          .core-member
            .row
              p.core-member-name Pat Boonyarittipong
              img(src='/img/core/pat.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin

      .page-header
        h3.core-title Recognition Managers
        p.core-subtitle These ADC members are responsible for connecting with the industry after you've designed, developed, and tested your app. They will ensure you receive the recognition you deserve. Maybe they'll even throw you a party!
      .row
        .col-sm-4
          .core-member
            .row
              p.core-member-name Cristian Lara
              img(src='/img/core/cristian.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-4
          .core-member.core-point
            .row
              p.core-member-name David Chao
              img(src='/img/core/david.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin
        .col-sm-4
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              .core-contact-info
                a.core-contact-item.facebook(href="#", target="_blank")
                  i.fa.fa-facebook
                a.core-contact-item.twitter(href="#", target="_blank")
                  i.fa.fa-twitter
                a.core-contact-item.linkedin(href="#", target="_blank")
                  i.fa.fa-linkedin