extends ../layout

block content

  .core-members-container
    .core-members

      .page-header
        h3 Internal Community Leads
      .row
        .col-sm-4
          .core-member
            .row
              p.core-member-name Erica Fearon
              img(src='/img/core/erica.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Sophomore studying Computer Science and living in _____.
        .col-sm-4
          .core-member
            .row
              p.core-member-name Geoffrey Angus
              img(src='/img/core/geoffrey.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Sophomore studying....
        .col-sm-4
          .core-member
            .row
              p.core-member-name Derin Dutz
              img(src='/img/core/derin.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

      .page-header
        h3 External Community Leads
      .row
        .col-sm-3
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name David Chao
              img(src='/img/core/david.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Stephanie Niu
              img(src='/img/core/stephanie.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Pat Boonyarittipong
              img(src='/img/core/pat.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

      .page-header
        h3 Workshop Managers
      .row
        .col-sm-4
          .core-member
            .row
              p.core-member-name Dan Yu
              img(src='/img/core/dan.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-4
          .core-member
            .row
              p.core-member-name Cindy Yu
              img(src='/img/core/cindy.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-4
          .core-member
            .row
              p.core-member-name Mauricio Narvaez
              img(src='/img/core/maur.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

      .page-header
        h3 Projects Leads
      .row
        .col-sm-3
          .core-member
            .row
              p.core-member-name Bryan McLellan
              img(src='/img/core/bryan.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Rachel Ahn
              img(src='/img/core/rachel.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Erica Fearon
              img(src='/img/core/erica.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Geoffrey Angus
              img(src='/img/core/geoffrey.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Derin Dutz
              img(src='/img/core/derin.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Cristian Lara
              img(src='/img/core/cristian.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Pat Boonyarittipong
              img(src='/img/core/pat.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

      .page-header
        h3 Recognition Managers
      .row
        .col-sm-3.col-sm-offset-3
          .core-member
            .row
              p.core-member-name Cristian Lara
              img(src='/img/core/cristian.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.

      .page-header
        h3 App Development Mentors/Gurus
      .row
        .col-sm-3
          .core-member
            .row
              p.core-member-name Derin Dutz
              img(src='/img/core/derin.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Cristian Lara
              img(src='/img/core/cristian.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Brexton Pham
              img(src='/img/core/brexton.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.
        .col-sm-3
          .core-member
            .row
              p.core-member-name Dan Yu
              img(src='/img/core/dan.jpg', class='profile', width='120', height='120')
              p.core-member-tagline Previously the lead product designer for Yik Yak, Joe now works on the product design team @ Facebook.